* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

html, body {
    width: 100%;
}

nav {    
    width: 100%;
    height: 90px;
    background-color: white;
    position: fixed;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
}

.logo {
    width: 24px;
}

a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

a:hover:not(.nav_home) {
    background-color: rgb(239, 239, 239);
    border-radius: 25px;
}

.home {
    color: white;
}

p {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.nav_home {
    width: 80px;
    background-color: black;
    border-radius: 25px;
}


.nav_follow {
    width: 110px;
}

.nav_follow:hover {
    border-radius: 25px;
}

.input_img {
    background-image: url(img/search_icon.png);
    background-repeat: no-repeat;
    background-position: 1% 50%;
    text-indent: 20px;
}

input {
    width: 80%;
    height: 45px;
    background-color: rgb(239, 239, 239);
    border-radius: 25px;
    padding: 8px 8px 8px 25px;
    border: transparent;
}

input:hover {
    background-color: rgb(218, 218, 218);
}

input:focus { 
    background-image: none;
    outline: none;
    text-indent: 0px;
    border: 3px solid rgb(127, 193, 255)
}

.nav_button {
    font-size: 28px;
    color: rgb(118, 118, 118);
}

/* Header */

header {
    padding-top: 130px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

h2 {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

.header_close {
    position: absolute;
    right: 50px;
    font-size: 40px;
}

.head_card {
    width: 120px;
    height: 120px;
    margin: 25px 4px;
    border-radius: 20px;
    display: flex;
    align-items: flex-end;
}

.head_card:hover {
    cursor: pointer;
}

div p {
    color: white;
    margin: 8px;
    font-size: 13px;
}

.card1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Gym.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Anime.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Astrology.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(./img/Bussiness.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card_add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 226, 226);
}

.card_add:hover {
    background-color: rgb(218, 218, 218);
}

.header_card_add {
    font-size: 45px;
    font-weight: 800;
    color: black;
}

/* Main */

main {
    width: 95%;
    margin: 20px auto;
    columns: 7;
    column-gap: 10px;
}

main figure {
    width: 230px;
    height: 100%;
    margin: 0 0 25px;
    overflow: hidden;
    break-inside: avoid;
    position: relative;
}

figure img { 
    max-width: 100%;
    border-radius: 20px;
}

figure:hover img {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
}

.img_options {
    height: 99%;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 20px;
    color: black;
    opacity: 0;
    transition: all 0.2s ease-in-out;
    margin-top: -20px;
    border-radius: 20px;
}

figure:hover .img_options {
    opacity: 1;
    cursor: zoom-in;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3));
    
}

div .img_text {
    color: black;
    background-color: white;
    width: 155px;
    height: 40px;
    border-radius: 10px 0px 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    opacity: 85%;
}

.img_text:hover {
    opacity: 98%;
}


.img_add {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.img_btn {
    width: 55px;
    height: 40px;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 10px 10px 0px;
    padding-right: 20px;
    background-color: rgb(230, 0, 35);
    color: white;
    margin-left: -8px;
    opacity: 85%;
}

.img_btn:hover {
    opacity: 98%;
    background-color: rgb(230, 0, 35);
    cursor: pointer;
}

div .img_icons {
    font-size: 22px;
    position: absolute;
    bottom: 10px;
    margin-left: 148px;
    margin-bottom: 5%;
    display: flex;
}

.icon_share {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    opacity: 85%;
}

.icon_select {
    width: 30px;
    height: 30px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 85%;
}

.icon_share:hover {
    opacity: 98%;
}

.icon_select:hover {
    opacity: 98%;
}

@media (max-width: 1695px) {
    main {
        columns: 6;
    }
}

@media (max-width: 1500px) {
    main {
        width: 95%;
        columns: 5;
    }
}

@media (max-width: 1250px) {
    main {
        width: 90%;
        columns: 4;
    }
}

@media (max-width: 1020px) {
    main {
        width: 85%;
        columns: 3;
    }
}

@media (max-width: 820px) {
    main {
        width: 80%;
        columns: 2;
    }
}

@media (max-width: 570px) {
    main {
        width: 70%;
        columns: 1;
    }
}